.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    overflow-y: auto;
}

.flex-centered {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 800px; /* Optional: Set a max-width for the content */
}