@inherits LayoutComponentBase

<ThemeManipulator />
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.BottomRight"
                SuccessClass="bg-body text-body"
                ErrorClass="bg-body text-body"
                InfoClass="bg-body text-body"
                WarningClass="bg-body text-body"
                />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
