$color-mode-type: media-query;

$info: #ffd59a;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

// Prevent pinch-to-zoom in PWA
html {
    touch-action: manipulation;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    touch-action: manipulation;
    overscroll-behavior: none;
}

// Prevent double-tap zoom on buttons and interactive elements
button,
input,
select,
textarea,
a {
    touch-action: manipulation;
}

dialog {
    border-width: $modal-content-border-width;
    border-color: $modal-content-border-color;
    border-radius: $modal-content-border-radius;
    // scss-docs-start modal-css-vars
    --#{$prefix}modal-zindex: #{$zindex-modal};
    --#{$prefix}modal-width: #{$modal-md};
    --#{$prefix}modal-padding: #{$modal-inner-padding};
    --#{$prefix}modal-margin: #{$modal-dialog-margin};
    --#{$prefix}modal-color: #{$modal-content-color};
    --#{$prefix}modal-bg: #{$modal-content-bg};
    --#{$prefix}modal-border-color: #{$modal-content-border-color};
    --#{$prefix}modal-border-width: #{$modal-content-border-width};
    --#{$prefix}modal-border-radius: #{$modal-content-border-radius};
    --#{$prefix}modal-box-shadow: #{$modal-content-box-shadow-xs};
    --#{$prefix}modal-inner-border-radius: #{$modal-content-inner-border-radius};
    --#{$prefix}modal-header-padding-x: #{$modal-header-padding-x};
    --#{$prefix}modal-header-padding-y: #{$modal-header-padding-y};
    --#{$prefix}modal-header-padding: #{$modal-header-padding}; // Todo in v6: Split this padding into x and y
    --#{$prefix}modal-header-border-color: #{$modal-header-border-color};
    --#{$prefix}modal-header-border-width: #{$modal-header-border-width};
    --#{$prefix}modal-title-line-height: #{$modal-title-line-height};
    --#{$prefix}modal-footer-gap: #{$modal-footer-margin-between};
    --#{$prefix}modal-footer-bg: #{$modal-footer-bg};
    --#{$prefix}modal-footer-border-color: #{$modal-footer-border-color};
    --#{$prefix}modal-footer-border-width: #{$modal-footer-border-width};
    // scss-docs-end modal-css-vars

    z-index: var(--#{$prefix}modal-zindex);
    overflow-x: hidden;
    overflow-y: auto;
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;
    // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
    // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
    // See also https://github.com/twbs/bootstrap/issues/17695
}


@include media-breakpoint-up(sm) {
    dialog {
        --#{$prefix}modal-margin: #{$modal-dialog-margin-y-sm-up};
        --#{$prefix}modal-box-shadow: #{$modal-content-box-shadow-sm-up};
    }
}

dialog::backdrop {
    background-color: $modal-backdrop-bg;
    opacity: $modal-backdrop-opacity;
}

.nav-dock {
    border-top: 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.5rem;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;

    @include color-scheme(dark) {
        border-color: #ffd59a;
        color: #ffd59a;
    }

}