@inject Nursing.Mobile.Services.SyncService Sync

<div class="container">
    <form @onsubmit="Register" class="my-3">
        <h2>Register</h2>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="regUsername">Username</label>
                    <input id="regUsername" @bind="RegisterUsername" />
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="regPassword">Password</label>
                    <input type="password" id="regPassword" @bind="Password" />
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="regIsAdmin">Is Admin</label>
                    <input type="checkbox" id="regIsAdmin" @bind="IsAdmin" />
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <form @onsubmit="DeleteUser">
        <h2>Delete User</h2>
        <div class="row">
            <div class="col">
                <label for="delUsername">Username</label>
                <input id="delUsername" @bind="DeleteUsername" />
            </div>
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
<AlertError @ref="alertError" />

@code {
    private AlertError alertError = null!;
    private string RegisterUsername = string.Empty;
    private string Password = string.Empty;
    private bool IsAdmin = false;

    private string DeleteUsername = string.Empty;

    private async Task Register()
    {
        var result = await Sync.Register(RegisterUsername, Password, IsAdmin);
        await alertError.ShowAlert(result.message, result.success);
    }

    private async Task DeleteUser()
    {
        var result = await Sync.Delete(DeleteUsername);
        await alertError.ShowAlert(result.message, result.success);
    }
}