@if (showSuccess)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" @onclick="HideAlert" aria-label="Close"></button>
        <strong>@message</strong>
    </div>
}

@if (showError)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" @onclick="HideAlert" aria-label="Close"></button>
        <strong>Test @message</strong>
    </div>
}

@code {
    private bool showSuccess = false;
    private bool showError = false;
    private string message = "";

    public async Task ShowAlert(string message, bool success)
    {
        this.message = message;
        showSuccess = success;
        showError = !success;
        await InvokeAsync(StateHasChanged);
    }

    public async Task ShowSuccess(string message)
    {
        await ShowAlert(message, true);
    }

    public async Task ShowError(string message)
    {
        await ShowAlert(message, false);
    }

    private async Task HideAlert()
    {
        showError = false;
        showSuccess = false;
        message = "";
        await InvokeAsync(StateHasChanged);
    }
}