@using Nursing.Mobile.Services
@inject NavigationManager Navigation
@inject SyncService Sync
@inject IJSRuntime JSRuntime

<div class="container">
    <div class="row">
        <div class="col-12">
            <button type="button" @onclick="SyncNow" class="btn btn-primary btn-lg">
                Sync Now
            </button>
        </div>
    </div>
</div>

<AlertError @ref="alertError" />

@code {
    private AlertError alertError = null!;

    private async Task SyncNow()
    {
        await JSRuntime.ShowLoadingModal();
        var result = await Sync.Sync();
        await JSRuntime.HideLoadingModal();
        await alertError.ShowAlert(result.message, result.success);
    }
}