@using Nursing.Mobile.Services
@inject NavigationManager Navigation
@inject SyncService Sync
@inject IJSRuntime JSRuntime

<div class="row">
    <div class="col-12">
        <button type="button" @onclick="SyncNow" class="btn btn-primary btn-lg">
            Sync Now
        </button>
    </div>
    <div class="col-12">
        <button type="button" @onclick="Logout" class="btn btn-primary btn-lg">
            Log Out
        </button>
    </div>
</div>

<AlertError @ref="alertError" />

@code {
    private AlertError alertError = null!;

    private async Task SyncNow()
    {
        await JSRuntime.ShowLoadingModal();
        var result = await Sync.Sync();
        await JSRuntime.HideLoadingModal();
        await alertError.ShowAlert(result.message, result.success);
    }

    private async Task Logout()
    {
        await JSRuntime.ShowLoadingModal();
        await Sync.Logout();
        Navigation.NavigateTo("/login");
    }
}