@page "/login"
@using Nursing.Mobile.Services
@inject NavigationManager Navigation
@inject SyncService Sync
@inject IJSRuntime JSRuntime

<div class="container">
    <h1>Login</h1>
    <div class="mb-3">
        <input type="text" class="form-control" @bind="username" placeholder="Username" />
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" @bind="password" placeholder="Password" />
    </div>
    <div class="mb-3">
        <input type="checkbox" @bind="rememberMe" />
        <label for="rememberMe">Remember Me</label>
        <button class="btn btn-primary" @onclick="LoginUser">Log In</button>
    </div>
</div>


<AlertError @ref="alert" />

@code {
    private string username = string.Empty;
    private string password = string.Empty;
    private bool rememberMe = false;

    AlertError alert = null!;

    protected override async Task OnInitializedAsync()
    {
        if (await Sync.IsLoggedIn())
        {
            Navigation.NavigateTo("/account");
        }
    }

    private async Task LoginUser()
    {
        await JSRuntime.ShowLoadingModal("Logging In");
        var result = await Sync.Login(username, password, rememberMe);
        password = "";
        await JSRuntime.HideLoadingModal();
        if (result.success)
        {
            Navigation.NavigateTo("/account");
        }
        else
        {
            await alert.ShowError(result.message);
        }
    }
}